body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}
img {
	max-width: 100%;
}
header {
	color: #ffffff;
	padding: 59px 0 22px;
	background: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
}
.header-pretitle {
	margin-top: 100px;
	font-weight: 700;
}
.header-title {
	font-size: 48px;
	font-weight: 700;
	margin: 20px 0;
	line-height: 36.81px;
}
.header-button {
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-weight: 700;
	padding: 15px 55px;
	margin-top: 15px;

}
small {
		font-size: 12px;
		display: block;
		text-align: center;
		margin-top: 9px;
}
.header-button-block {
	max-width: 200px;
}
.portfolio {
	background-color: #dddddd;
	padding: 44px 0 71px;
}
.portfolio-block {
	background-color: #ffffff;
	padding: 10px 0 30px;
}
.portfolio-title {
	margin-bottom: -5px;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.portfolio-subtitle {
	margin: 10px 0 30px;
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
}
.portfolio-title,
.portfolio-subtitle {
	text-align: center;
}
.portfolio-col-1 {
	padding-left: 50px;
}
.portfolio-col-2 {
	padding-right: 50px;
}
.portfolio-block h3 {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 15px;
}
.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}
.portfolio-block a {
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.button-up {
  box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.41);
  border: 8px solid #3a7dfd;
  background-image: linear-gradient(to bottom, #3a7dfd 0%, #1157db 100%);
  position: absolute;
  left: 295px;
  top: -66px;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  border-radius: 7px;
  cursor: pointer;
}
.arrow-point {
  background-image: url(../img/arrow-point-to-right.png);
  position: relative;
  width: 25px;
  height: 15px;
  transform: rotate(-45deg);
  top: 15px;
  left: 10px;
  background-repeat: no-repeat;
}
footer {
	background-color: #3a7dfd;
	color: #deedfe;
	padding: 35px 0 85px;
}
.footer-title {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: -30px;
}
.footer-subtitle {
	font-weight: 400;
	line-height: 40px;
}
.social-block {
	text-align: center;
}
.social-block a {
	margin: 0 13px;
}
.footer-cta {
	margin-bottom: 20px;
}
.footer-button {
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #deedfe;
  padding: 11px 42px 15px 42px;
  text-decoration: none;
}
.footer-cta-block {
	padding-left: 80px;
}


@media  (max-width: 1200px) {
	body{
		font-size: 16px;
	}
	.header-pretitle {
		margin-top: 90px;
	}
	.header-title{
		font-size: 35px;
    line-height: 25px;
	}
	.header-button {
		font-size: 16px;
    padding: 13px 45px;
	}
	.header-button-block {
		max-width: 120px;
	}
	small {
		font-size: 10px;
    margin-top: 5px;
    padding-left: 45px;
	}
	.button-up {
		left: 250px;
    top: -60px;
    width: 50px;
    height: 50px;
	}
	.arrow-point {
		top: 10px;
    left: 5px;
	}
}

@media (max-width: 992px) {
	.header-img {
		display: none;
	}
	.header-pretitle {
		margin-top: 0;
	}
	.button-up {
		left: 170px;
	}
	.footer-title {
		font-size: 18px;
	}
	.footer-subtitle {
		font-size: 14px;
	}
	.social-block a {
		margin: 0 7px;
	}
	.social-block img {
		width: 35px;
	}
}

@media (max-width: 768px) {
	.header-title {
		line-height: 35px;
	}
	.portfolio-col-1 {
		margin-bottom: 50px;
	}
	.portfolio-col-1,
	.portfolio-col-2 {
		padding: 0 20px;
	}
	.button-up {
		display: none;
	}
	footer {
		text-align: center;
		padding: 0 0 50px;
	}
	.social-block p {
		margin: 0 0 5px;
	}
		.footer-cta-block {
    padding: 0;
    margin-top: 25px;
	}
}

